.underline {
  text-decoration: underline;
}

.whitespace {
  background-color: inherit;
}

.youtube {
  width: auto;
}

.centering {
  max-width: 533px;
  margin: auto;
  background-color: white !important;
  color: black !important;
}

.card {
  max-width: 100%;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}
